@model dynamic

@{
	View.Title = "Feedback sent";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

	<h2>Feedback sent</h2>

	<p>Thank you for your feedback. We will reply to your message during next 48 hours.</p>
