@{
	View.Title = "Home Page";
}

<h2>@View.Message</h2>
<p>
	@* 
		Charts area 
		-----------
		1. cached for 10 minutes by default
		2. cached for 180 minutes
	*@
	<img src="/Home/MyChart" />
	<img src="/Home/MyCachedChart" />
</p>
